/*common rules*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container{
  width: 1200px;
  margin: 0 auto;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.fl{
  float: left;
}

.fr{
  float: right;
}

.box{
  border-radius: 6px;
  width: 33%;
  margin-bottom: 50px;
  text-align: center;
  margin-top: 15px;
  padding: 35px;
  background-color: #fff;
}

p{
  line-height: 26px;
}
/*end common rules*/

body{
  font-family: 'Roboto', sans-serif;
}

.nav-a a{
  text-decoration: none;
  color: black;
}

.nav-a a:first-child{
  border-right: 1px black solid;
  padding-right: 25px;
}

.nav-a a:nth-child(2){
  padding-left: 25px;
}

.nav-a img{
  height: 13px;
  vertical-align: middle;
  padding-right: 18px;
}

.button-type-a{
  padding: 7px;
  background-color: #fff;
  color: #ff7a59;
  border: orange solid 2px;
  border-radius: 6px;
  margin-right: 20px;
}

.button-type-b{
  padding: 7px;
  background-color: #ff7a59;
  color: white;
  border: none;
  border-radius: 6px;
}

.top-header-a{
  height: 60px;
  background-color: #d5edec;
  border-bottom: 1px solid black;
  line-height: 60px;
}

.top-header-b{
  height: 60px;
  background-color: #fff;
  line-height: 60px;
}

.top-header-b img{
  height: 25px;
  margin-top: 18px;
}

.nav-b ul{
  list-style-type: none;
}

.nav-b li{
  display: inline-block;
  padding-left: 30px;
}

.nav-b a{
  text-decoration: none;
  color: black;
}

.jumbotron-background{
  background-image: url("../img/jumbotron.png");
  background-position: right top;
  background-repeat: no-repeat;
  background-color: #fff5ef;
  height: 695px;
  position: relative;
}

.jumbotron-background::before{
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  background-color: #afebe4;
  height: 80px;
  width: 100%;
  border-top: 3px solid #33475b;
  border-bottom: 3px solid #33475b;
}

.jumbotron{
    width: 45%;
}

h1{
  padding-top: 55px;
  font-size: 50px;
}

.jumbotron p{
  margin: 30px 0 30px 0;
}

.button-type-c{
  background-color: #ff7a59;
  color: white;
  border-radius: 8px;
  padding: 20px 40px;
  display: block;
  border: none;
}

.w100-main{
  background-color: #f5f8fa;
  min-width: 1200px;
}

.slogan{
  text-align: center;
  margin-top: 35px;
}

.slogan > h2{
  margin: 5px 0 15px 0;
}

.slogan p{
  width: 50%;
  margin: 0 auto;
  padding-bottom: 50px;
}

.box-type-a{
  height: 250px;
  padding: 30px 110px;
  border-radius: 6px;
  background-color: #fff;
}

.left-column{
  width: 33%;
}

.right-column{
  width: 66%;
}

.right-column ul{
  list-style-type: none;
  }

.right-column li{
  display: inline-block;
  padding-right: 15px;
}

.right-column p{
  margin-top: 25px;
  margin-bottom: 20px;
  width: 90%;
}

.right-column hr{
  width: 63%;
  margin-top: 11px;
  margin-right: 10px;
}

.right-column h3{
  margin-bottom: 20px;
}

.checkbox{
  height: 13px;
}

.book{
  padding-bottom: 25px;
  padding-left: 30px;
}

.left-column button{
  margin-left: 40px;
}

.box:nth-child(3){
  margin: 15px 20px 0 20px;
  width: calc(33% - 40px);
}

.box img{
  margin-top: 10px;
}

.box p{
  margin-top: 30px;
  margin-bottom: 70px;
  font-size: 17px;
}

.border{
  border-top: solid black 1px;
  margin-bottom: 40px;

}

.box h3{
  margin-bottom: 20px;
}


.box ul{
  text-align: left;
  list-style-type: none;
}

.box button{
  margin: 0 auto;
  margin-top: 30px;
}

.w100{
  min-width: 1200px;
  background: linear-gradient(45deg,#00a4bd,#00bda5);
}

.blue-section{
  height: 600px;
  color: #fff;
}

.blue-section-a h2{
  text-align: center;
  font-size: 30px;
  width: 80%;
  margin: 0 auto;
  padding-top: 40px;
}

.blue-section-a p{
  text-align: center;
  width: 89%;
  margin: 0 auto;
  font-size: 16px;
  margin-top: 20px;
  padding-bottom: 50px;
}

.square{
  width: 25%;
  text-align: center;
  height: 120px;
}

.square h2{
  padding: 10px 0 10px 0;
}

.border-r{
  border-right: solid 1px #fff;
}

.border-t{
  border-top: solid 1px #fff;
  padding-top: 12px;
}

.box-type-b{
  margin-bottom: 190px;
  padding: 30px 80px;
  border-radius: 6px;
  margin-top: 20px;
}

.box-type-b span{
  font-weight: bolder;
}

.left-column h2{
  font-size: 40px;
}

.left-column p{
  width: 60%;
  margin-top: 20px;
}

.right-column-b{
  width: 66%;
  text-align: center;
}

.right-column-b img{
  width: 20%;
  padding-right: 15px;
  vertical-align: middle;
}

.slogan-b{
  position: relative;
}

.slogan-b h2{
  width: 30%;
}

.slogan-b p{
  margin-top: 35px;
  width: 35%;
}

.slogan-b img{
  height: 370px;
  position: absolute;
  right: 62px;
  top: -25px;
}

.slogan-b button{
  margin-top: 35px;
}

.slogan-b p:last-child{
  margin-bottom: 50px;
  width: 40%;
}

.w100-footer{
  min-width: 1200px;
  background-color: #2d3e50;
}

.column-footer{
  width: 24%;
  color: #fff;
  padding-bottom: 100px;
}

.column-footer h4{
  padding: 35px 0 20px 0;
}

.column-footer li{
  display: block;
  padding-top: 15px;
}

.column-footer a{
  text-decoration: none;
  color: #a5b2c0;
}

.button-type-d{
  padding: 11px;
  background-color: #ccc;
  color: #2d3e50;
  border: none;
  border-radius: 6px;
  text-align: center;
  font-weight: bold;
}

.logo-footer .fa{
  font-size: 20px;
  padding-right: 20px;
  padding-top: 20px;
  color: #a5b2c0;
}

.languages ul{
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 40px;
}

.languages li{
  display: inline-block;
  padding-left: 20px;
}

.languages a{
  text-decoration: none;
  color: #8e9cab;
}

.copyright{
  color: #a5b2c0;
  padding-top: 5px;
  padding-bottom: 40px;
}

.bottom-footer a{
  text-decoration: none;
  color: #a5b2c0;
  padding-left: 25px;
}
